li {
  list-style: none;
}

li .title {
  display: flex;
  padding: 5px;
}

li .title span:first-child {
  flex: 5;
}

li .title span:last-child {
  flex: 1;
}

.comments {
  padding: 10px;
  margin-left: 20px;
  border-left: 1px solid black;
}

.comment {
  padding: 10px;
}

.btn-comment {
  width: 50%;
}
